<div class="auth-wrapper">
    <h1>Login Form</h1>
    <form class="form-signin" #loginForm="ngForm" name="loginForm">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please sign in</h3>
       
            <label>Email</label>
            <input type="email"  [(ngModel)]="LoginData.email"  name="email" #email="ngModel" placeholder="Enter email" required>
       
        
            <label>Password</label>
            <input type="password"  [(ngModel)]="LoginData.password"  name="password" #password="ngModel" placeholder="Password"><br><br>
       
        <button  class="btn btn-block btn-primary" (click)='signin(loginForm)'>Login</button>
    </form>
    <br>
    <button  class="btn btn-block btn-primary" routerLink="/signup">signup</button>
</div>